@import url(./main.css);

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--cor-de-fundo-cabecalho-rodape);
}

.cabecalho h1{
    color: var(--cor-texto);
    font-size: 1.5rem;
}

.cabecalho .menu{
    display: flex;
    gap: 1rem;
}

.cabecalho #btn-sair{
    color: var(--cor-texto);
    background: none;
    text-decoration: none;
    cursor: pointer;
}

.cabecalho #btn-sair:hover{
    filter: brightness(70%);
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    gap: 2rem;
}

.principal .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--cor-de-fundo-card);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.principal .card h2{
    text-align: center;
    font-size: 1.2rem;
}

.principal .card .dados{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.principal .card .dados span{
    font-weight: 600;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    color: var(--cor-texto);
    background-color: var(--cor-de-fundo-cabecalho-rodape);
}

