@import url(./main.css);

.container{
    min-width: 400px;
    transform: translateX(-400px);
    animation: slideIn 3s forwards;
}

.card{
    background-color: var(--cor-de-fundo-login) !important;
}

#form-login input{
    cursor:text;
}

#form-login button, i{
    cursor:pointer;
}

@keyframes slideIn{
    to{transform: translateX(0);}
}